
.table-td {
    font-size: 1.5rem;
    border-bottom: 1px solid #d5cc84;
    padding: 5px;
}


.todo-title {
    padding-left: 30px;
    word-wrap: break-word;
    width: 300px;
}



.btn-add-todo {
    display: block;
    font-size: 1.2rem;
    line-break: unset;
}

.todo-delete {
    display: none;
    float: right;
    cursor: pointer;
    color: #F44336;
    font-size: 15px;
    padding-top: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.table-td:hover .todo-delete{
    display: inline;
}

[contenteditable="true"].btn-add-todo br {
    display:none;
}
[contenteditable="true"].btn-add-todo * {
    display:inline;
}